html, body {
      overflow-x: hidden;
}
.noScroll, .noScroll {
      height: 100%; 
      margin: 0;
      overflow: hidden;
}
*{
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      transition: background-color 0.5s linear, color 0.5s linear, transform 0.5s linear;
}
.nav {
      z-index: 2;
      position: relative;
      color: white;
      font-size: 28px;
      height: 60px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid white;
}
.myNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70vw;
}
.red {
      background-color: red;
}
.gray {
      background-color: #565656;
}

.black {
      background-color: black;
}
.white {
     color: white;
}
.ul {
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      list-style: none;
      font-size: 20px;
}

.darkMode {
      cursor: pointer;
      border-radius: 15px;
      font-size: 20px;
      padding: 0 10px;
      color: white;
      border: 2px solid white;
      margin-right: 40px;
}

#close2 ,#close3 {    
      padding-top: 5px;
      right: 30px;
      position: absolute;
      cursor: pointer;
      color: white;
      border: 0;
}

.navlinks{
      border: 0;
      margin-left: 50px;    
}

.btn {
      font-size: 20px;
}
.link {
      color: white;
      cursor: pointer;
      text-decoration: none;
}
.lang {
      padding: 20px 0;
      top: 400px;
      width: 100vw;
      position: absolute;
      z-index: 2;
      text-align: center;  
}
.li {
      padding: 5px;
      list-style: none;
}
.above {
      transform: translateY(-600px);
}
.langlinks {
      font-size: 20px;
}

.home {
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      height: 100vh;
      padding: 100px;
}
.sections {
      height: 100vh;
      scroll-snap-align: start; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
}
    
#section1 img, #section3 img{
      margin-bottom: 200px;
}
#sec1,#sec3 {
      margin: 80px 0 235px 185px;
}
#sec2 {
      margin-right: 185px;
}
.sections div {
      width: 50vw;
}
.sections div h1{
      padding-bottom: 20px;
      font-size: 48px;
}
.sections img{
      width: 400px;
}
.sections div p{
      font-size: 24px;
}
.response {
      z-index: 2;
      width: 100vw;
      position: absolute;
      transform: translate(0, -400px);
}
.below {
      transform: none;
}

#ham1 {
      cursor: pointer;;
      border: 0;
      color: white;
      padding: 6px 10px 0px 10px;
      display: none;
}
.end {
      margin-bottom: 200px;
}

@media screen and (max-width: 1170px) {
      .nav nav {
            display: none;
      }
      .lang {
            border-top: 1px solid white;
            top: 70px;
      }
      .img img {
            margin: auto;
            width: 80vw;
      }
       #ham1 {
            margin-right: 40px;
            display: inline;
      }
      .sections div h1{
            font-size: 36px;
      }
      .sections div p{
            font-size: 18px;
      }
      #sec1,#sec3 {
            margin: 80px 0 235px 30px;
      }
      #sec2{
            margin-right:30px;
      }
}

@media screen and (max-width: 970px) {
      #sec1,#sec3, #sec2 {
            margin: 50px 0 0 0;
      }
      #section1 img, #section3 img{
            margin-bottom: 0;
      }
      .sections img{
            width: 500px;
      }
      #section1,#section3 {
            justify-content: flex-start;
            flex-direction: column;
      }
      #section2 {
            justify-content: flex-end;
            flex-direction: column-reverse;
      }
      .sections div {
            width: 80vw;
      }
}

@media screen and (max-width: 550px) {
      .sections img{
            width: 250px;
      }
      .sections div h1{
            font-size: 24px;
      }
      .sections div p{
            font-size: 14px;
      }
      .ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 12px;
      }
      .navlinks {
            margin-left: 0;
      }
      .btn{
            font-size: 12px;
      }
      .ul li{
            padding: 3px 0;
      }
      .lang {
            border-top: 1px solid white;
            top: 91px;
      }
      .nav {
            font-size: 18px;
      }
      .darkMode {
            font-size: 12px;
      }
      #sec1,#sec3,#sec2 {
            margin: 50px;
      }
}

.toolbar-item button {
      cursor: pointer !important;
      color: white !important;
      padding: 5px 10px !important;
      border: 2px solid white !important;
}

