*{
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
}
.nav {
      z-index: 2;
      position: relative;
      color: white;
      font-size: 28px;
      height: 60px;
      padding-left: 30px;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid white;
}

.ul {
      margin-right: 10vw;
      display: flex;
      flex-direction: row;
      list-style: none;
      font-size: 20px;
}
.navlinks{
      border: 0;
      margin-left: 50px;    
}

.btn {
      font-size: 20px;
      background-color: red;
}
.link {
      color: white;
      cursor: pointer;
      text-decoration: none;
}
.lang {
      padding: 20px 0;
      top: 62px;
      width: 100vw;
      position: absolute;
      z-index: 2;
      text-align: center;
      background-color: red;
      transition: transform 0.5s linear;
}
.li {
      padding: 5px;
      list-style: none;
}
.above {
      transform: translate(0, -400px);
      transition: transform 0.5s linear;
}
.langlinks {
      border-bottom: 2px solid red;
      font-size: 20px;
}

.langlinks:hover {
      border-bottom-color: black;
}

.home {
      padding-top: 50px;
      width: 80vw;
      margin: auto;
      z-index: 0;
}
.img img{
      display: block;
      margin: auto;
      width: 40vw;
}

.main h1 {
      text-align: center;
      padding-bottom: 40px;
}
.main p {
      font-size: 20px;
}
.response {
      z-index: 2;
      width: 100vw;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.5s linear;;
      background: red;
      transform: translate(0, -200px);
      height: 60px;
}
.below {
      transition: transform 0.5s linear;;
      transform: none;
}

#ham1 {
      cursor: pointer;;
      border: 0;
      color: white;
      background-color: red;
      padding: 6px 10px 0px 10px;
      display: none;
}

footer {
      flex-wrap: wrap;
      align-content: center;
      display: flex;
      height: 60px;
      padding-left: 40px;
      background-color: red;
      color: white;
      font-size: 20px;
}

@media screen and (max-width: 1000px) {
      .nav nav {
            display: none;
      }
      .lang {
            top: 122px;
      }
      .img img {
            margin: auto;
            width: 80vw;
      }
       #ham1 {
            margin-right: 40px;
            display: inline;
      }
}
@media screen and (max-width: 500px) {
      .response {
            height: 80px;
            justify-content: center;
      }
      .ul{
            flex-direction: column;
            font-size: 12px;
      }
      .btn{
            font-size: 12px;
      }
      .ul li{
            padding: 3px 0;
      }
      .lang {
            border-top: 1px solid white;
            top: 140px;
      }
      .nav {
            font-size: 18px;
      }
      footer{
            padding-left: 5px;
            font-size: 10px;
      }
}

.toolbar-item button {
      cursor: pointer !important;
      color: white !important;
      padding: 5px 10px !important;
      border: 2px solid white !important;
}